/* TODO: Replace this with the provided TextType.css */
.text-type {
    display: inline-block;
    white-space: nowrap;
}

.text-type__cursor {
    margin-left: 4px;
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}